<div class="chat-container">
  <h1>
    Resident Live Chat <span class="user-count">Connected Users: {{ users() }}</span>
  </h1>
  <ul class="messages">
    <li *ngFor="let msg of messages()">
      <div *ngIf="msg.type === 'message'" class="msg">
        <strong [ngClass]="{ 'current-user': isCurrentUser(msg) }"
          >{{ msg.username }} <span class="time">{{ msg.time }}</span></strong
        >
        <span>{{ msg.message }}</span>
      </div>
      <div *ngIf="msg.type === 'notification'" class="notification">User {{ msg.status }}</div>
    </li>
  </ul>
  <div class="inputs">
    <div>
      <input
        [ngClass]="{ 'input-error': error().username }"
        [value]="username()"
        (input)="updateUsername($event)"
        type="text"
        placeholder="Username"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
    <textarea
      [ngClass]="{ 'input-error': error().message }"
      (input)="updateMessage($event)"
      [value]="message()"
      rows="3"
      placeholder="Your message"
    ></textarea>
  </div>
</div>
